<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /chd101/g1/back
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /chd101/g1/back/index.html [L]
</IfModule>